.background {
  position: absolute;
  width: 105vw;
  height: 105vh;
  z-index: -1000;
  background-image: url("/jinx-arcane-5k.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  animation: fadeIn 4s;
}

.container {
  width: 100%;
  padding: 0 10vw;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 16px;
}

@media only screen and (max-width: 1125px) {
  .background {
    background-image: url("/jinx-arcane-5k-mobile.jpg");
  }
}
